.button {
  @include transition-all-02s;
  @include border-radius;
  display: inline-block;

  box-sizing: border-box;
  padding: 10px 30px;

  cursor: pointer;
  text-align: center;

  border: none;

  font-size: 14px;

  &:disabled {
    background-color: $gray-color;
  }
}

.primary {
  color: $white-color;
  background-color: $primary-color;
}

.ghost {
  color: $black-color;
  @include border($white-color3, 1px);
  background: none;

  &:hover {
    color: $white-color;
    background-color: $primary-color;
  }
}