@mixin fontDin {
  font-family: 'Din2014', sans-serif;
}

@mixin fontGraphicLight {
  font-family: 'Graphik LC Reg', sans-serif;
}

@mixin fontGraphicMedium {
  font-family: 'Graphik LC Medium', sans-serif;
}