.wrapper {
  .header {
    @include flex-align-center;

    .clearBasket {
      @include flex-align-center;
      column-gap: 5px;
      cursor: pointer;
      width: 212px;

      span {
        border-bottom: 1px dashed #7B7B7B;
        color: #7B7B7B;
        @include fontGraphicMedium;
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .name {
    width: 100%;
    font-size: 14px;
    display: grid;
    grid-template-columns: minmax(384px, 552px) 180px 110px 156px auto;
    justify-items: center;
    color: #aca7a4;
    padding: 20px 0 18px 0;
  }

  .next {
    margin-top: 60px;
    border: solid 1px #d9dadc;
    margin-bottom: 20px;
    display: flex;
    padding: 20px 0;

    .left {
      width: 50%;
      padding: 0 20px;
      border-right: solid 1px #d9dadc;

      h1 {
        font-size: 19px;
        margin-bottom: 10px;
      }

      label {
        font-size: 13px;
        @include flex-align-center;

        span {
          margin-left: 5px;
        }
      }
    }

    .right {
      width: 50%;
      padding: 0 20px;

      h1 {
        font-size: 19px;
        border-bottom: solid 1px #d9dadc;
        padding-bottom: 10px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          @include flex-center-between;
          font-size: 13px;
          margin-bottom: 10px;
        }

        .total {
          margin-top: 40px;
        }

        .value {
          @include fontGraphicMedium;
          color: $black-color;
        }

        .totalValue {
          @include fontDin;
          color: $black-color;
          font-size: 22px;
        }
      }

      button {
        margin: 40px 0;
        border-radius: 2px;
        text-transform: uppercase;
        @include fontGraphicMedium;
        font-size: 18px;
        padding: 15px 30px;
        width: 100%;
      }
    }
  }
}