.productInfo {
  .title {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
  }

  .rating {
    display: flex;
    gap: 15px;
  }

  .productBlock {
    display: grid;
    grid-template-columns: 650px auto;
    justify-content: space-between;

    .productImage {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .carousel {
        width: 445px;
      }

      .zoom {
        top: 35px;
        right: 140px;
      }
    }

    .buy {
      width: 320px;
      height: fit-content;

      svg {
        left: 50px;
      }
    }
  }
}