.wrapper {
  @include fontGraphicMedium;
  .type {
    list-style-type: none;
    @include flex-align-center;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    white-space: nowrap;
    position: relative;
    padding: 12px 5px 12px 40px;
    width: 100%;
    background: none;
    @include transition-all-02s;
    z-index: 99999;

    &:hover {
      background: $primary-color;
      @include border-radius;

      .link {
        color: $white-color;
        .svg {
          filter: brightness(10);
        }
      }
    }

    .link {
      text-decoration: none;
      color: $black-color;
      font-size: 15px;
      @include transition-all-02s;

      .svg {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 16px auto;
        position: absolute;
        left: 5px;
        top: 11px;
        width: 35px;
        height: 16px;
        @include transition-all-02s;
      }
    }
  }
}