.filled {
  svg {
    path {
      fill: $primary-color;
    }
  }
}

.star {
  svg {
    margin-right: 5px;
  }
}

.starBlock {
  display: flex;
  .starReview {
    @include border($border-color, 1px);
    @include flex-center-center;

    &:first-child {
      @include border-radius-left;
    }

    &:last-child {
      @include border-radius-right;
    }

    span {
      padding: 5px 23px;

      svg {
        margin: 0;
      }
    }
  }
}

.ratingBlock {
  @include flex-align-center;

  span {
    display: flex;
    font-size: 13px;
    color: $graphite-color;
  }
}

.editable {
  cursor: pointer;
}