.wrapper {
  display: flex;
  .sidebar {
    .card {
      width: 300px;
      min-height: 100px;
      box-shadow: 2px 3px 6px 0 rgb(211 215 206 / 64%);
      padding: 15px 13px 14px 25px;
      border-radius: 2px;
      display: flex;
      column-gap: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all ease .2s;
      border: 1px solid transparent;
      position: relative;

      &:hover {
        border: 1px solid var(--primary);
      }

      .percent {
        color: var(--white);
        display: flex;
        align-items: center;
        font-size: 18px;
        letter-spacing: -1px;
        justify-content: center;
        font-family: "Din proL", sans-serif;
        background-color: var(--primary);
        height: 40px;
        width: 60px;
        clip-path: polygon(97% 0,90% 100%,0 100%,0 0);
        position: absolute;
        left: 0;
        top: 0;
      }

      .left {
        img {
          height: 100px;
          width: 100px;
          object-fit: contain;
        }
      }

      .right {
        flex: 1;
        .sale {
          display: flex;
          align-content: center;

          .oldPrice {
            color: var(--gray-border);
            text-decoration: line-through;
          }
          .discount {
            background-color: var(--primary);
            color: var(--white);
            height: 18px;
            line-height: 18px;
            float: left;
            padding: 0 8px 0 9px;
            border-radius: 2px;
            font-size: 13px;
          }
        }
        .price {
          font-size: 20px;
        }

        .name {
          font-family: "Din proS", sans-serif;
          font-size: 13px;
        }
      }
    }
  }

  .main {
      width: 100%;
    .top {
      padding: 0 27px;
      border-radius: 2px;
    display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--primary);
      color: var(--white);

      h2 {
        color: var(--white);
        padding: 0;
        font-size: 30px;
        line-height: 60px;
      }

     .endAction {
       display: flex;
       align-items: center;
       span {
         font-size: 13px;
       }

       .timer {
         margin-left: 10px;
         span {
           color: var(--white);
           font-size: 30px;
         }
       }
     }
    }

    .card {
      box-shadow: 0 3px 15px 0 #00000019;
      display: flex;
      justify-content: space-between;

      .left {
        width: 490px;
        padding: 25px 20px 20px 25px;

        h1 {
          font-size: 18px;
        }

        .productBlock {
          display: grid;
          grid-template-columns: 1fr auto;
          position: relative;

          .percent {
            position: absolute;
            top: 13px;
            left: 16px;
            background: var(--primary);
            width: 120px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--white);
            align-items: center;
            border-radius: 50%;
            text-transform: uppercase;
            z-index: 10;
            font-family: "Din proL", sans-serif;

            .totalPercent {
              display: flex;
              align-items: baseline;
              font-size: 40px;
              line-height: 18px;
            }

            span {
              font-family: "Din proL", sans-serif;
              font-size: 20px;
            }
          }

          .carousel {
            width: 100%;
            position: relative;

            svg {
              height: 25px;
              width: 25px;
            }

            .leftTop {
              top: 120px;
              left: -25px;
            }

            .rightTop {
              top: 120px;
              right: -25px;
            }

            .leftBot {
              bottom: 0;
              top: unset;
              left: 15px;
            }

            .rightBot {
              bottom: 0;
              top: unset;
              right: 15px;
            }

            .sliderWrapper {
              height: 240px;
              width: 380px;
              position: relative;
              display: flex;
              overflow-x: hidden;
              margin: 33px auto 0;

              .slider {
                margin: auto 0;
                min-width: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all ease .5s;

                img {
                  width: 240px;
                  height: 240px;
                  object-fit: contain;
                }
              }
            }

            .previewWrapper {
              width: 250px;
              margin: 33px auto 0;
              position: relative;
              display: flex;
              overflow-x: hidden;

              .previewSlider {
                min-width: 52.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ECEDEE;
                margin-right: 10px;
                border-radius: 4px;
                transition: all ease .5s;
                cursor: pointer;

                img {
                  width: 50px;
                  height: 50px;
                  object-fit: contain;
                }
              }

              .active {
                border: 1px solid var(--primary);
              }
            }
          }

          .card {
            width: 275px;
            padding: 17px 22px 30px;
            border: 1px solid var(--gray-border);
            display: flex;
            flex-direction: column;
            max-height: 150px;

            .discountBlock {
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              .oldPrice {
                color: #9d9d9d;
                font-size: 22px;
                margin-right: 10px;
                text-decoration: line-through;
                line-height: .8;
                font-weight: 500;
              }

              .discount {
                background: var(--primary);
                color: var(--white);
                padding: 1px 5px;
                border-radius: 2px;
                font-weight: 500;
              }
            }
            .price {
              font-size: 40px;
              font-weight: bold;
              color: var(--black);
              margin: 0 0 20px;
              line-height: 1;
            }

            .btn {
              flex-grow: 1;
            }
          }

          .navBlock {
            display: flex;
            gap: 20px;
            margin-top: 40px;

            .activeNav {
              background: var(--primary);
              color: var(--white);
              border-radius: 5px;
            }

            .nav {
              font-weight: 700;
              width: 175px;
              border-bottom: 1px solid transparent;

              &:hover {
                border-bottom: 1px solid var(--primary);
                background: unset;
                color: var(--black);
                border-radius: unset;
              }

              &:focus {
                background: var(--primary);
                color: var(--white);
                border-radius: 5px;
              }
            }
          }
        }
      }

      .right {
        padding-top: 25px;
          width: 320px;

        .buyBlock {
          display: flex;
          flex-direction: column;
          border: solid 1px var(--gray-border-light);
          box-shadow: 0 3px 15px 0 #00000019;
          margin-right: 25px;

          .topBuy {
            display: flex;
            flex-direction: column;
            padding: 17px 22px 30px;

            .sale {
              font-family: "Din proL", sans-serif;
              display: flex;
              align-items: center;

              .oldPrice {
                color: #9d9d9d;
                font-size: 24px;
                margin-right: 10px;
                text-decoration: line-through;
                line-height: .8;
                font-family: "Din proL", sans-serif;
              }

              .discount {
                background: var(--primary);
                color: var(--white);
                padding: 1px 5px;
                border-radius: 2px;
                font-family: "Din proL", sans-serif;
                font-size: 15px;
              }
            }

            .price {
              font-size: 40px;
              font-family: "Din proL", sans-serif;
              margin-bottom: 20px;
            }

            button {
              height: 50px;
              font-family: "Din proL", sans-serif;
              font-size: 16px;
              position: relative;
              padding: 10px 30px 10px 60px;

              svg {
                position: absolute;
                left: 40px;
                top: 0;
              }
            }
          }

          hr {
            border-top: 1px solid var(--gray-border-light);
            width: 100%;
          }

          .deliveryBlock {
            padding: 17px 22px 30px;
            display: flex;
            flex-direction: column;

            .location {
              font-size: 14px;
              font-family: "Din proS", sans-serif;
              display: flex;
              align-items: center;
              column-gap: 5px;

              a {
                color: var(--primary);
              }
            }
          }
        }
      }
    }
  }
}