.wrapper {
  display: flex;
  .sidebar {
    .card {
      width: 300px;
      min-height: 100px;
      box-shadow: 2px 3px 6px 0 rgb(211 215 206 / 64%);
      padding: 15px 13px 14px 25px;
      border-radius: 2px;
      display: flex;
      column-gap: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all ease .2s;
      border: 1px solid transparent;
      position: relative;

      &:hover {
        border: 1px solid var(--primary);
      }

      .percent {
        color: var(--white);
        display: flex;
        align-items: center;
        font-size: 18px;
        letter-spacing: -1px;
        justify-content: center;
        font-family: "Din proL", sans-serif;
        background-color: var(--primary);
        height: 40px;
        width: 60px;
        clip-path: polygon(97% 0,90% 100%,0 100%,0 0);
        position: absolute;
        left: 0;
        top: 0;
      }

      .left {
        img {
          height: 100px;
          width: 100px;
          object-fit: contain;
        }
      }

      .right {
        flex: 1;
        .sale {
          display: flex;
          align-content: center;

          .oldPrice {
            color: var(--gray-border);
            text-decoration: line-through;
          }
          .discount {
            background-color: var(--primary);
            color: var(--white);
            height: 18px;
            line-height: 18px;
            float: left;
            padding: 0 8px 0 9px;
            border-radius: 2px;
            font-size: 13px;
          }
        }
        .price {
          font-size: 20px;
        }

        .name {
          font-family: "Din proS", sans-serif;
          font-size: 13px;
        }
      }
    }
  }
}