.wrapper {
  display: flex;
  column-gap: 40px;
  .sidebar {


  }

  .main {
      width: 100%;
    .top {
      padding: 0 27px;
      border-radius: 2px;
    display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--primary);
      color: var(--white);

      h2 {
        color: var(--white);
        padding: 0;
        font-size: 30px;
        line-height: 60px;
      }

     .endAction {
       display: flex;
       align-items: center;
       span {
         font-size: 13px;
       }

       .timer {
         margin-left: 10px;
         span {
           color: var(--white);
           font-size: 30px;

           div {
             line-height: 23px;
           }
         }
       }
     }
    }
  }
}