.textAreaWrapper {
  position: relative;

  .textArea {
    @include border($border-color, 1px);
    @include shadow-2;
    @include border-radius;
    min-width: 100%;
    max-width: 100%;
    padding: 7px 15px;
    height: 200px;

    resize: none;

    color: $black-color;
    outline-color: $primary-color;
    background: $white-color;

    font-size: 16px;
    line-height: 22px;

    &::placeholder {
      color: $gray-color;
    }
  }

  .error {
    @include border($red-color, 1px)
  }

  .errorMessage {
    position: absolute;
    bottom: -15px;
    left: 0;

    color: $red-color;
  }
}