.wrapper {
  display: flex;
  margin-top: 40px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    background-color: $border-color4;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 24%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }

  li {
    cursor: pointer;
    width: 200px;
    height: 48px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border-bottom: 3px solid transparent;
    @include transition-all-02s;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 51px;
      background: $white-color4;
    }

    &:hover {
      background: $white-color;
      border-color: $primary-color;
    }
  }

  .activeNav {
    li {
      background: $white-color;
      border-color: $primary-color;
    }
  }
}