.review {
  display: flex;
  align-content: center;
  color: #555;

  .reviewIcon {

  }

  span {
    margin-left: 5px;
    font-size: 12px;
    transition: all ease .2s;
    cursor: pointer;
    font-family: "Din proS", sans-serif;

    &:hover {
      color: var(--primary);
    }
  }
}