.sliderBlock {
  display: flex;
  flex-direction: column;
  position: relative;

  //h2 {
  //  font-size: 24px;
  //  margin: 0;
  //  padding-bottom: 20px;
  //  font-weight: 500;
  //}

  .sliderWrapper {
    display: flex;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
      button {
        svg {
          fill: var(--black);
        }
      }
    }

    .slider {
      text-align: center;
      transition: all ease .5s;

      img {
        object-fit: cover;
      }
    }
  }

  .blockDots {
    display: flex;
    bottom: -30px;
    right: 270px;
    position: unset;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
}