.wrapper {
  text-align: center;

  @include transition-all-05s;

  img {
    object-fit: cover;
    display: block;
  }
}

@include _laptop {
 .wrapper {
   scroll-snap-align: start;
   border-radius: 10px;

   img {
     border-radius: 10px;
     object-fit: contain !important;
   }
 }
}