.wrapper {
  @include flex-column;
  position: relative;

  .sliderWrapper {
    display: flex;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
      button {
        svg {
          fill: $black-color;
        }
      }
    }

    .slider {
      text-align: center;

      @include transition-all-05s;

      img {
        object-fit: cover;
      }
    }
  }

  .blockDots {
    @include flex-center-center;
    bottom: -30px;
    right: 270px;
    position: unset;
    height: 30px;
  }
}

@include _tablet {
 .wrapper {
   .sliderWrapper {
     scroll-snap-type: x mandatory;
     overflow-x: scroll;
     -webkit-overflow-scrolling: touch;
     scroll-behavior: smooth;
   }

   .slider {
     scroll-snap-align: start;
   }
 }
}