.wrapper {
  position: relative;

  .sliderWrapper {
    display: flex;
    overflow-x: hidden;
    border-radius: 10px;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }

    &:hover {
      button {
        svg {
          fill: $black-color;
        }
      }
    }

    .slider {
      text-align: center;
      @include transition-all-05s;
      width: 100%;

      img {
        height: 100%;
        width: -moz-available;          /* WebKit игнор. */
        width: -webkit-fill-available;  /* Mozilla игнор. */
        width: fill-available;
        object-fit: cover;
        display: block;
      }
    }
  }

  .dots {
    @include flex-center-center;
    height: 30px;
  }
}


@include _laptop {
  .sliderWrapper {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: scroll !important;
    border-radius: unset !important;
    column-gap: 10px;

    .slider {
      scroll-snap-align: start;
      border-radius: 10px;

      img {
        border-radius: 10px;
      }
    }
  }
}