.wrapper {
  height: 70px;
  background-color: #262626;
  -webkit-box-shadow: 0 -2px 7px rgb(0 0 0 / 8%);
  box-shadow: 0 -2px 7px rgb(0 0 0 / 8%);
  position: sticky;
  bottom: 0;
  z-index: 99;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: white;
  width: 100%;

  display: none;
}

@include _laptop {
  .wrapper {
    display: block !important;
    .itemsWrapper {
      @include flex-center-between;
      margin: 0 auto;
      width: 410px;
      height: 100%;

      .item {
        @include flex-center-center-column;
        font-size: 11px;
        width: 60px;
        border: none;
        color: $white-color;
        line-height: 12px;
        letter-spacing: .02em;
        padding: 8px 0 10px;

        &:hover {
          background: none;
          color: $green-color2;

          .main {
            svg {
              stroke: $green-color2;
              fill: none;
            }
          }

          svg {
            fill: $green-color2;
          }
        }

        span {
          @include flex-center-center;
          width: 26px;
          height: 26px;
          margin-bottom: 3px;
        }
      }
    }
  }
}

@include _tablet {
  .wrapper {
    .itemsWrapper {
      max-width: 374px;
    }
  }
}