.wrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--gray-border-light);
  box-shadow: 0 3px 15px 0 #00000019;
  margin-right: 25px;

  .topBuy {
    display: flex;
    flex-direction: column;
    padding: 17px 22px 30px;

    .sale {
      font-family: "Din proL", sans-serif;
      display: flex;
      align-items: center;

      .oldPrice {
        color: #9d9d9d;
        font-size: 24px;
        margin-right: 10px;
        text-decoration: line-through;
        line-height: .8;
        font-family: "Din proL", sans-serif;
      }

      .discount {
        background: var(--primary);
        color: var(--white);
        padding: 1px 5px;
        border-radius: 2px;
        font-family: "Din proL", sans-serif;
        font-size: 15px;
      }
    }

    .price {
      font-size: 40px;
      font-family: "Din proL", sans-serif;
      margin-bottom: 20px;
    }

    button {
      height: 50px;
      font-family: "Din proL", sans-serif;
      font-size: 16px;
      position: relative;
      padding: 10px 30px 10px 60px;

      svg {
        position: absolute;
        left: 40px;
        top: 0;
      }
    }
  }

  hr {
    border-top: 1px solid var(--gray-border-light);
    width: 100%;
  }

  .deliveryBlock {
    padding: 17px 22px 30px;
    display: flex;
    flex-direction: column;

    .location {
      font-size: 14px;
      font-family: "Din proS", sans-serif;
      display: flex;
      align-items: center;
      column-gap: 5px;

      a {
        color: var(--primary);
      }
    }
  }
}
