.dayProductBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;

  .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

  }

  .wrapper {
    display: flex;
    overflow: hidden;

    &:hover {
      button {
        svg {
          fill: var(--black);
        }
      }
    }
  }

  .bl {
    position: unset;
    display: flex;
    bottom: -30px;
    right: 35px;
    align-items: center;
    height: 30px;
    justify-content: center;
  }
}