.wrapper {
  @include flex-align-center;
  @include border($gray-color6, 1px);
  box-shadow: 0 1px 0 #fdfdfd, 0 1px 0 #fdfdfd inset;

  .activeWhite {
    background-color: #f5f5f5 !important;
    background-position: 100% -40px !important;
    span {
      font-family: 'Graphik LC Medium', sans-serif !important;
    }
  }

  .activeGray {
    background-color: #f5f5f5 !important;
    color: $primary-color;
    span {
      font-family: 'Graphik LC Medium', sans-serif !important;
    }
  }

  .lastGray {
    background-color: #f5f5f5;
  }

  .triangles {
    position: relative;
    height: 41px;
    @include flex-center-center;
    width: 100%;
    background-color: $white-color;
    background-image:  url('/basketNavArrow-white.webp');
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-position:  100% 0;

    &:last-child {
      background-color: transparent;
      background-position:  100% 100px !important;
    }

    span {
      width: 100%;
      text-align: center;
      @include fontGraphicLight;
      font-size: 15px;
    }
  }
}