.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 10px;
  margin-right: 0;
  row-gap: 60px;
  grid-template-areas: 'sidebar main' 'sliderS sliderS';

  .sidebar {
    grid-area: sidebar;
  }

  .top {
    grid-area: main;
    display: grid;
    column-gap: 60px;
    row-gap: 40px;
    grid-template-columns: 660px 1fr;
    grid-template-areas: 'slider dayProducts' 'main main';

    .sliderM {
      grid-area: slider;
      h2 {
        position: relative;
        font-weight: 700;
        padding-bottom: 20px;
        margin: 0;
      }
    }

    .dayProducts {
      grid-area: dayProducts;
    }

    .main {
      display: grid;
      grid-template-columns: 1fr;
      grid-area: main;
    }
  }

  .sliderS {
    grid-area: sliderS;
  }
}
