.review {
  @include flex-align-center;
  color: $graphite-color2;

  .reviewIcon {

  }

  span {
    margin-left: 5px;
    font-size: 12px;
    @include transition-all-02s;
    cursor: pointer;
    @include fontGraphicLight;

    &:hover {
      color: $primary-color;
    }
  }
}