.dots {
  button {
    width: 18px;
    height: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    .dots {
      @include border-radius-50;
      display: block;
      background: $white-color4;
      padding: 2px;
      margin-right: 10px;
    }

    .active {
      background: $black-color;
      padding: 3px;
    }

    .activeGreen {
      background: $primary-color;
      padding: 3px;
    }
  }
}