.wrapperSwipe {
  width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;

  .arrowLeft {
    top: calc(30% - 40px);
  }

  .arrowRight {
    top: calc(30% - 40px);
    right: -22px;
  }

  &:hover {
    .arrowLeft {
      svg {
        fill: var(--black);
      }
    }

    .arrowRight {
      svg {
        fill: var(--black);
      }
    }
  }


  .cardBlock {
    .cardGrid {
      overflow-x: hidden;
      display: flex;
    }
  }
}
