.productInfo {
  .title {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
  }

  .rating {
    display: flex;
    gap: 15px;
  }

  .productBlock {
    display: grid;
    grid-template-columns: 650px auto;
    justify-content: space-between;

    .productImage {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .carousel {
        width: 445px;
      }

      .zoom {
        top: 35px;
        right: 140px;
      }

      .rotate360 {
        position: absolute;
        top: 95px;
        right: 140px;
        width: 45px;
        height: 45px;
        margin: 0 0 15px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 24%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        background-color: var(--white);
        border: solid 1px var(--gray-border-light);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
      }
    }

    .buy {
      width: 320px;
      height: fit-content;

      svg {
        left: 50px;
      }
    }
  }
}