.wrapper {
  padding: 10px 0;
  @include flex-align-center;
}

@include _laptop {
  .wrapper {
    padding: 0 20px;

    .login {
      display: none;
    }

    .basket {
      display: none;
    }
  }
}