.header {
  padding: 10px 0;
  @include flex-align-center;

  .logo {
    margin: 0;
    color: $red-color;
    text-transform: uppercase;
    cursor: pointer;
    width: 198px;
    aspect-ratio: auto 198 / 54;
    height: 54px;
  }

  .form {
    flex-grow: 1;
    margin-left: 29px;

    .search {
      position: relative;
      @include flex-between;
      height: 40px;
      font-weight: 500;

      .input {
        width: 100%;
        position: relative;
        @include flex-align-center;
        flex-grow: 1;
        padding: 0 10px;
        background: $white-color;
        transform: skewX(-12deg);
        @include border($primary-color, 1px);
        @include border-radius-left;

        input {
          width: 100%;
          height: 100%;
          padding: 0 10px 0 0;
          font-size: 16px;
          background: $white-color;
          border: none;
          outline: none;
          -webkit-appearance: none;
          appearance: none;
          transform: skewX(12deg);
          @include fontGraphicLight;

          &::placeholder {
            color: $gray-color;
            @include fontGraphicLight;
          }
        }
      }

      .searchBtn {
        @include flex-center-center;
        @include fontGraphicLight;
        height: 40px;
        font-size: 15px;
        line-height: 15px;
        padding: 10px 12px;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 85px;
          width: 25px;
          height: 40px;
          background-color: inherit;
          transform: skewX(-12deg);
        }

        svg {
          margin-left: 10px;
          transition: transform .25s
        }

        &:hover {
          svg {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .profile {
    @include flex-align-center;
    min-width: 200px;
    flex-direction: row;
    margin-right: 30px;

    .login {
      font-size: 15px;
      color: $black-light-color;
      cursor: pointer;
      @include transition-all-02s;
      padding-left: 25px;
      @include flex-align-center;

      svg {
        fill: $black-light-color;
        @include transition-all-02s;
        margin-right: 5px;
      }


      &:hover {
        color: $primary-color;

        svg {
          fill: $primary-color;
        }
      }

      p {
        margin: 0;
      }

      .user {
        display: flex;
        gap: 10px;
      }
    }

      .logout {
        cursor: pointer;
        font-size: 13px;
        color: $black-light-color;
        @include transition-all-02s;
        padding-left: 19px;

        &:hover {
          color: $primary-color;
        }
      }
  }

  .cart {
    @include flex-align-center;
    gap: 5px;
    color: $black-light-color;
    @include transition-all-02s;
    font-weight: 400;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;

    svg {
      path {
        @include transition-all-02s;
      }
      height: 16px;
      width: 16px;
    }

    &:hover {
      color: $primary-color;

      svg {
        path {
          fill: $primary-color;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  .basketProduct {
    column-gap: 20px;
    background-color: $gray-deep-color;
    @include flex-center-between;
    color: $white-color;
    font-weight: 500;
    padding: 7px 12px;
    height: auto;
    @include border-radius;
    position: relative;
    @include transition-all-02s;

    svg {
      path {
        @include transition-all-02s;
        fill: $white-color;
      }
      height: 24px;
      width: 24px;
    }

    &:hover {
      color: $green-color2;

      svg {
        path {
          fill: $green-color2;
        }
      }
    }
    
    .count {
      background-color: $white-color;
      font-size: 10px;
      height: 20px;
      width: 20px;
      @include flex-center-center;
      @include border-radius-50;
      color: $gray-deep-color;
      position: absolute;
      top: 3px;
      left: 25px;
      @include border($gray-deep-color, 2px);
    }

    span {
      font-size: 15px;
    }
  }
}


@include _desktop {
  .header {
    @include flex-column;
  }
}