.inputWrapper {
  position: relative;
  width: 100%;

  .input {
    @include border($border-color3, 1px);
    @include border-radius;
    @include shadow-2;
    padding: 7px 15px;

    color: $black-color;
    outline-color: $primary-color;
    background: $white-color;

    font-size: 13px;
    font-family: "Din pro",sans-serif;
    line-height: 22px;

    &::placeholder {
      color: $gray-color;
    }
  }

  .error {
    @include border($red-color, 1px)
  }

  .errorMessage {
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 0;

    color: $red-color;
  }
}