.wrapper {
  display: flex;
  flex-direction: column;
  width: 232px;
  flex: 0 0 232px;
  min-height: 100%;
  margin: 0 1.6px;
  padding: 16px 20px;
  position: relative;
  @include transition-all-05s;
  //width: 192px;
  //flex: 0 0 192px;

  &:hover {
    @include shadow-4;
  }

  .img {
    @include flex-center-center;
    margin: 0 auto 10px;
    flex: 0 0 150px;
    width: 100%;
    max-width: 150px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }

  .rating {
    margin-top: 10px;
    @include flex-align-center;
    gap: 20px;
  }

  .name {
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: $black-color;
    font-size: 13px;
    margin-bottom: 9px;
    margin-top: 10px;
    max-height: 53px;
    min-height: 53px;
    overflow: hidden;
    line-height: 1.4;
    @include transition-all-02s;

    &:hover {
      color: $primary-color;
    }
  }

  .price {
    margin-top: 22px;
    font-size: 34px;
    line-height: 40px;
    color: $black-color;
    @include fontDin;
    flex-grow: 1;
  }

  .bottom {
    @include flex-align-center;
    margin-top: 22px;

    .inTheBasket {
      background-color: $gray-deep-color;
    }

    .btn {
      margin-right: 16px;
      width: 86px;
      height: 39px;
      padding: 0;
      box-sizing: border-box;
    }

    .favourite {
      @include flex-center-center;
      background: none;
      border: none;

      svg {
        width: 18px;
        height: 16px;
        cursor: pointer;
      }
    }

    .cart {
      position: absolute;
      bottom: 0;
      right: 0;

      svg {
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
      }
    }
  }
}

@include _tablet {
  .wrapper {
    &:hover {
      box-shadow: none;
    }
  }
}