.createProductBlock {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-border);
  }

  .product {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    font-size: 13px;

    label {
      display: grid;
      align-items: center;
      grid-template-columns: 220px 1fr;

      input {
        padding: 2px 15px;
      }
    }

    .btnOldPrice {
      width: 227px;
    }

    .addInfo {

      button {
        width: 227px;
      }
    }
  }

  .blockSubmit {
    padding-left: 220px;
    .submit {
      margin-top: 20px;
    }
  }

}