@import "scss/index";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@include _tablet {
  body {
    @include container-768px;
  }
}

@font-face {
  font-family: 'Din2014';
  src: url('../fonts/DINPro-CondensedBold.ttf');
}

@font-face {
  font-family: 'Graphik LC Light';
  src: url('../fonts/Graphik LC Light Regular.ttf');
}

@font-face {
  font-family: 'Graphik LC Medium';
  src: url('../fonts/Graphik LC Web Medium Regular.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

